

<!-- MAIN CONTENT -->
<div class="container">
  <h2 class="title">Liste des Pokémons</h2>

  <!-- Barre de recherche -->
  <div class="search-box">
    <input
      type="text"
      class="form-control"
      placeholder="Rechercher un Pokémon..."
      #searchField
      [value]="searchTerm()"
      (input)="searchTerm.set(searchField.value)" />
  </div>

  <!-- Liste des Pokémons -->
  <div class="pokedex-grid">
    @if (loading()) {
      <div class="d-flex justify-content-center">More actions
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
  @for (pokemon of pokemonListFiltered(); track pokemon.id) {
    <a [routerLink]="['/pokemons', pokemon.id]" class="text-decoration-none text-dark">
      <div class="pokemon-card" appPokemonBorder [pokemonType]="pokemon.types[0]">
        <img [src]="pokemon.picture" [alt]="pokemon.name" class="pokemon-image" />
        <p><strong>Nom :</strong> {{ pokemon.name }}</p>
        <p><strong>Taille :</strong> {{ size(pokemon) }}</p>
        <p><strong>Type :</strong> {{ pokemon.types }}</p>
        <p><strong>Date :</strong> {{ pokemon.created | date: 'dd/MM/yyyy' }}</p>
        <p><strong>PV :</strong> {{ pokemon.life }}</p>
        <p><strong>Dégâts :</strong> {{ pokemon.damage }}</p>
      </div>
    </a>
  }
</div>


        <!--<div class="btn-group">
          <button (click)="increLife(pokemon)" [disabled]="pokemon.life >= 30">+</button>
          <button (click)="decreLife(pokemon)" [disabled]="pokemon.life <= 10">-</button>
        </div>-->

       
    

  <!--<button class="btn-link" [routerLink]="['/pokemons', pokemon.id]">Voir</button>
      </div> -->